@import "../css/normalize.css";

:root {
  color-scheme: light dark;
  --white: white;
  --black: black;
  --light: #eee;
  --dark: #2a293d;
}

* {
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}

html,
body {
  color: var(--dark);
  background: var(--white);
  font: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

#main {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
}

#hero-img {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/image.light.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#main h2 {
  color: var(--dark);
  background: var(--white);
  position: absolute;
  bottom: 50;
  padding: 1rem 2rem;
  margin: 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: var(--white);
    background: var(--dark);
  }
  #main h2 {
    color: var(--white);
    background: var(--dark);
  }
  #hero-img {
    background-image: url(../img/image.dark.webp);
  }
}
